.recipe__instructions {
  font-family: Montserrat;
  font-style: normal;
  font-size: 0.8em;
  line-height: 150%;
  color: #333333;
}
.recipe__instructions__list__marker {
  background-color: #f2994a;
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
  padding: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 32px;
  color: #ffffff;
}

.recipe__instructions__list {
  margin: 1.6em 0;
  display: flex;
  align-items: flex-start;
}

.recipe__instructions__list__item--bold {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 150%;
  color: #333333;
}

/*Mobile M*/

@media screen and (min-width: 375px) and (max-width: 424px) {
  .recipe__instructions {
    font-size: 1em;
  }

  .recipe__instructions__list__item--bold {
    font-size: 1em;
  }
}

/*Mobile L*/

@media screen and (min-width: 425px) and (max-width: 767px) {
  .recipe__instructions {
    font-size: 1.1em;
  }

  .recipe__instructions__list__item--bold {
    font-size: 1.1em;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .recipe__instructions {
    font-size: 1.1em;
  }

  .recipe__instructions__list__item--bold {
    font-size: 1.1em;
  }
}

/*Laptop*/

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .recipe__instructions {
    font-size: 1.1em;
  }

  .recipe__instructions__list__item--bold {
    font-size: 1.1em;
  }
  .steps {
    padding-top: 62%;
  }
}

/*Laptop L*/

@media screen and (min-width: 1440px) {
  .recipe__instructions {
    font-size: 1.1em;
  }

  .recipe__instructions__list__item--bold {
    font-size: 1.1em;
  }

  .steps {
    padding-top: 39%;
  }
}
