.recipe__checkbox__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8em !important;
  line-height: 2em !important;
  color: #333333;
}

.recipe__ingredients {
  margin-top: 3%;
}

.recipe__ingredients__subtitle {
  font-family: Playfair Display;
  font-style: italic;
  font-weight: 200;
  font-size: 1em;
  line-height: 0.7em;
  color: #333333;
}

.recipe__ingredients__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 0.5em;
  color: #333333;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #f2994a;
  background-color: #f2994a;
  height: 15px;
  width: 15px;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1px solid #828282;
}

[type="checkbox"].filled-in:checked + span:not(.lever):before {
  top: -1.1px;
  left: 0.6px;
  width: 7px;
  height: 11px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

[type="checkbox"] + span:not(.lever) {
  padding-left: 20px;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):before {
  border: 0px solid transparent;
}

/*Mobile M*/

@media screen and (min-width: 375px) and (max-width: 424px) {
  .recipe__checkbox__text {
    font-size: 1em !important;
  }
  .recipe__ingredients__subtitle {
    font-size: 1.1em;
    line-height: 0.8em;
  }
  .recipe__ingredients__title {
    font-size: 1.2em;
  }
}

/*Mobile L*/

@media screen and (min-width: 425px) and (max-width: 767px) {
  .recipe__checkbox__text {
    font-size: 1.2em !important;
  }
  .recipe__ingredients__subtitle {
    font-size: 1.4em;
    line-height: 0.8em;
  }
  .recipe__ingredients__title {
    font-size: 1.5em;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .recipe__checkbox__text {
    font-size: 1.2em !important;
  }
  .recipe__ingredients__subtitle {
    font-size: 1.4em;
    line-height: 0.8em;
  }
  .recipe__ingredients__title {
    font-size: 1.5em;
  }
  .recipe__description {
    margin-left: -13% !important;
    font-size: 1.1em;
  }
  
  .recipe__image {
    width: 95%;
  }

}

/*Laptop*/

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .recipe__checkbox__text {
    font-size: 1.2em !important;
  }
  .recipe__ingredients__subtitle {
    font-size: 1.4em;
    line-height: 0.8em;
  }
  .recipe__ingredients__title {
    font-size: 1.5em;
  }
}

/*Laptop L*/

@media screen and (min-width: 1440px) {
  .recipe__checkbox__text {
    font-size: 1.2em !important;
  }
  .recipe__ingredients__subtitle {
    font-size: 1.4em;
    line-height: 0.8em;
  }
  .recipe__ingredients__title {
    font-size: 1.5em;
  }
}
