@import url(https://fonts.googleapis.com/css?family=PlayfairDisplay:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900);

.description__recipe {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 15px;
  margin-top: 0%;
  margin-left: -2%;
  padding-right: 5%;
}

.grain {
  color: #c4c4c4;
  font-size: 15px;
}

.image__recipe {
  width: 90%;
  display: flex;
  margin: 0 auto 0 auto;
}

.receipe-app .row {
  margin-bottom: 0 !important;
}

.title__recipe {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 0px;
  padding-top: 3% !important;
}


.info {
  margin: 0.6em 0 1.2em 0.4em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}

.info div:nth-child(1) {
  grid-column: 1 / 4;
}

.info > div {
  margin-top: 0.6em;
}

.info div {
  display: flex;
  align-items: center;
  color: #333333;
}

.info div > div {
  margin-left: 0.2em;
  flex-direction: column;
  align-items: flex-start;
}

.info div:nth-child(1) > i,
.info div:nth-child(1) > div span:nth-child(2) {
  color: #f2994a;
}

.info div > div span:nth-child(1) {
  color: #bdbdbd;
  font-size: 8px;
  font-weight: bold;
}

.info div > div span:nth-child(2) {
  color: #333333;
  font-size: 8px;
  font-weight: 500;
}



/*Mobile M*/

@media screen and (min-width: 375px) and (max-width: 424px) {
  .description__recipe {
    font-size: 0.9em;
    line-height: 17px;
  }

  .grain {
    font-size: 15px;
  }

  .title__recipe {
    font-size: 1.7em;
  }
}

/*Mobile L*/

@media screen and (min-width: 425px) and (max-width: 767px) {
  .description__recipe {
    font-size: 1em;
    line-height: 17px;
  }

  .grain {
    font-size: 15px;
  }

  .title__recipe {
    font-size: 1.8em;
  }

  .info {
    margin: 0.6em 0 1.2em 0.6em;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .description__recipe {
    font-size: 1em;
    line-height: 17px;
  }

  .grain {
    font-size: 25px;
  }

  .title__recipe {
    font-size: 2.7em;
  }

  .image__recipe{
    width: 97%;
  }
}

/*Laptop*/

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .description__recipe {
    font-size: 1em;
    line-height: 17px;
    padding-right: 12em;
  }

  .legend {
    margin: 5%;
    background-color: green;
    border-radius: 5%;
    width: 160px !important;
  }

  .grain {
    font-size: 25px;
  }

  .title__recipe {
    font-size: 2.7em;
  }

  .box {
    margin-top: 2.8em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  .box > div:nth-child(2) {
    width: 54%;
  }

  .info {
    margin: 0;
    padding: 0 2em;
    display: initial;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
  }

  .info > div {
    margin: 2em 0;
    width: 140px;
  }

  .info div > i {
    margin-right: 0.2em;
    font-size: 32px;
  }


  .image__recipe{
    width: 97%;
  }

}

/*Laptop L*/

@media screen and (min-width: 1440px) {
  .description__recipe {
    font-size: 1.2em;
    line-height: 25px;
    padding-right: 12em;
  }

  .legend {
    margin: 5%;
    background-color: green;
    border-radius: 5%;
    width: 160px !important;
  }

  .grain {
    font-size: 25px;
  }

  .title__recipe {
    font-size: 2.7em;
  }

  .image__recipe{
    width: 97%;
  }

  .box {
    margin-top: 2.8em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  .box > div:nth-child(2) {
    width: 54%;
  }

  .info {
    margin: 0;
    padding: 0 2em;
    display: initial;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
  }

  .info > div {
    margin: 2em 0;
    width: 140px;
  }

  .info div > i {
    margin-right: 0.2em;
    font-size: 32px;
  }

  .info div > div span:nth-child(1) {
    font-size: 10px;
  }

  .info div > div span:nth-child(2) {
    font-size: 10px;
  }


}
