.source__receipe{
font-family: Montserrat;
font-style: italic;
font-weight: normal;
font-size: 12px;
line-height: 150%;
color: #BDBDBD;
padding: 3% 5% 10% 5%;
}

.footer__receipe {
    position: relative;
    text-align: center;
    padding: 3%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8em;
    line-height: 17px;
    color: #a9a9a9;
  }